/* Custom styles other than the ones from bootstrap. */
.navbar-brand svg {
  vertical-align: middle;
}

.step {
  padding: 2rem;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
